In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.ones([5,4]), columns=['a', 'b', 'c', 'd'])

In [4]:
df

     a    b    c    d
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0

In [5]:
df * 2

     a    b    c    d
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0
3  2.0  2.0  2.0  2.0
4  2.0  2.0  2.0  2.0

In [6]:
df.iloc[1, 1] = 3

In [8]:
df.iloc[2,2] = 4
df.iloc[3,3] = 5

In [9]:
df

     a    b    c    d
0  1.0  1.0  1.0  1.0
1  1.0  3.0  1.0  1.0
2  1.0  1.0  4.0  1.0
3  1.0  1.0  1.0  5.0
4  1.0  1.0  1.0  1.0

In [27]:
def squr(x):
    return pow(x,2)

squr(3)
df = df.applymap(squr)

In [28]:
df

     a    b     c     d
0  1.0  1.0   1.0   1.0
1  1.0  9.0   1.0   1.0
2  1.0  1.0  16.0   1.0
3  1.0  1.0   1.0  25.0
4  1.0  1.0   1.0   1.0