In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame([
    ['a', 20, 100]
    , ['b', 30, 200]
    , ['c', 40, 300]
    , ['d', 50, 300]
]
    , columns=['name', 'age', 'salary'], index=['a','b','c', 'd'])

In [8]:
df

  name  age  salary
a    a   20     100
b    b   30     200
c    c   40     300
d    d   50     300

In [9]:
# by indexing, always column first (label only), row can be index or label. 
# this is chained operation.
# loc is preferred
df['age']['b']

30

In [54]:
# by indexing, always column first (label only), row can be index or label
df['age'][1]

30

In [55]:
# by indexing, multiple columns, all rows
df[['age', 'salary']]

   age  salary
a   20     100
b   30     200
c   40     300
d   50     300

In [56]:
# by indexing, multiple columns, some rows, loc is preferred
df[['age', 'salary']].T[['b']].T

   age  salary
b   30     200

In [32]:
# by slicing, option 1, slicing only for rows, row or column first
df[1:2][['age', 'salary']]

   age  salary
b   30     200

In [43]:
# by slicing, option 2, slicing only for rows, row or column first
df[['age', 'salary']][1:2]

   age  salary
b   30     200

In [49]:
# by slicing by label, option 3, slicing only for rows, row or column first
df[['age', 'salary']]['b':'c']

   age  salary
b   30     200
c   40     300

In [47]:
# by loc, row first then column, option 1, either can be slices or lists
df.loc['b':'c', ['age', 'salary']]

   age  salary
b   30     200
c   40     300

In [48]:
# by loc, row first then column, option 1, either can be slices or lists
df.loc[['b', 'c'], 'age':]

   age  salary
b   30     200
c   40     300

In [50]:
# by iloc, row first then column, option 1, either can be slices or lists
df.iloc[1:2, [1, 2]]

   age  salary
b   30     200

In [53]:
# by iloc, row first then column, option 2, either can be slices or lists
df.iloc[[1], 1:3]

   age  salary
b   30     200