In [2]:
import os
import numpy as np
import pandas as pd
#import ashrae_scripts as scp1
import gc
import ashrae-1-0-scripts.py as scp

dir = !ls -a
if ('kernel-metadata.json' in dir):
    src = 'Local'
    # Local environment
    data_path = './data/'
else:
    # Kaggle environment
    src = 'Kaggle'
    data_path = '../input/'

print('Environment set to [{env}]'.format(env=src))

SyntaxError: invalid syntax (<ipython-input-2-f22bce0d72c3>, line 6)

In [2]:
# init_dtype = {'building_id': 'int16'
#               , 'meter': 'category'
#               , 'timestamp': 'str'
#               , 'meter_reading': 'float32'}
# df_train = pd.read_csv(data_path + 'ashrae-energy-prediction/' + 'train.csv', dtype=init_dtype, nrows=1000)

In [3]:
init_dtype = {'site_id': 'str'
              , 'building_id': 'int16'
              , 'primary_use': 'category'
              , 'square_feet': 'float16'
              , 'floor_count': 'float16'
              , 'year_built': 'float16'}
df_bldg_meta = pd.read_csv(data_path + 'ashrae-energy-prediction/' + '/building_metadata.csv', dtype=init_dtype)

In [4]:
# init_dtype = {'timestamp': 'str'
#               , 'site_id': 'str'
#               , 'precip_depth_1_hr': 'float16'
#               , 'wind_direction': 'float16'
#               , 'wind_speed': 'float16'
#               , 'sea_level_pressure': 'float32'
#               , 'dew_temperature': 'float32'
#               , 'air_temperature': 'float32'}
# df_weather_train = pd.read_csv(data_path + 'ashrae-weather/' + 'df_weather_train.csv', dtype=init_dtype)

In [5]:
#df = scp_df.process_df(df_train, df_bldg_meta, df_weather_train, 'df_train_filled')
#df.to_csv('df_train_filled', index=True)

In [6]:
df_train.info()

NameError: name 'df_train' is not defined

In [7]:
df_train = df_train.merge(df_bldg_meta, left_on='building_id', right_on='building_id', how='left')

NameError: name 'df_train' is not defined

In [8]:
df_bldg_meta = scp.fill_by_group('floor_count', 'primary_use', df_bldg_meta)

In [9]:
df_bldg_meta = scp.fill_by_group('floor_count', 'site_id', df_bldg_meta)

In [10]:
df_bldg_meta = scp.fill_by_group('year_built', 'site_id', df_bldg_meta)

In [11]:
df_bldg_meta['floor_count'].fillna(-1, inplace=True)

In [12]:
df_bldg_meta['year_built'].fillna(-1, inplace=True)

In [13]:
df_bldg_meta['square_feet'].fillna(-1, inplace=True)

In [14]:
df_bldg_meta = df_bldg_meta.astype({'floor_count': 'int8'
                                    , 'year_built': 'int16'})

In [15]:
df_bldg_meta.reset_index(drop=True)

,site_id,building_id,primary_use,square_feet,year_built,floor_count
0,0,0,Education,7432.0,2008,-1
1,0,1,Education,2720.0,2004,-1
2,0,2,Education,5376.0,1991,-1
3,0,3,Education,23680.0,2002,-1
4,0,4,Education,inf,1975,-1
...,...,...,...,...,...,...
1444,15,1444,Entertainment/public assembly,19616.0,1914,-1
1445,15,1445,Education,4296.0,-1,-1
1446,15,1446,Entertainment/public assembly,11264.0,1997,-1
1447,15,1447,Lodging/residential,29776.0,2001,-1
1448,15,1448,Office,inf,2001,-1

In [16]:
df_bldg_meta.head()

  site_id  building_id primary_use  square_feet  year_built  floor_count
0       0            0   Education       7432.0        2008           -1
1       0            1   Education       2720.0        2004           -1
2       0            2   Education       5376.0        1991           -1
3       0            3   Education      23680.0        2002           -1
4       0            4   Education          inf        1975           -1

In [17]:
df_bldg_meta.to_csv('df_bldg_meta.csv', index=True)