In [11]:
# basic sort, without changing original list
colors = ['red', 'blue', 'black', 'yellow', 'orange']
sorted(colors)

['black', 'blue', 'orange', 'red', 'yellow']

In [10]:
colors

['red', 'blue', 'black', 'yellow', 'orange']

In [4]:
# descending order
sorted(colors, reverse=True)

['yellow', 'red', 'orange', 'blue', 'black']

In [9]:
# sort based on lambda function
students = [
    {
        'name': 'john',
        'age': 20
    },
    {
        'name': 'jill',
        'age': 30
    },
    {
        'name': 'joan',
        'age': 25
    },
    {
        'name': 'adam',
        'age': 27
    }
]
sorted(students, key=lambda student: student['age'])

[{'name': 'john', 'age': 20},
 {'name': 'joan', 'age': 25},
 {'name': 'adam', 'age': 27},
 {'name': 'jill', 'age': 30}]

In [10]:
# sort return subset of results
sorted(students, key=lambda student: student['age'])[:3]

[{'name': 'john', 'age': 20},
 {'name': 'joan', 'age': 25},
 {'name': 'adam', 'age': 27}]

In [6]:
# create list
a = [1,2,3]
a

[1, 2, 3]

In [5]:
# create empty list
b = []
b

[]

In [7]:
# sort list in place
a.sort(reverse=True)
a

[3, 2, 1]

In [12]:
a[1]

2

In [13]:
a[1:]

[2, 1]

In [14]:
a[:1]

[3]

In [16]:
# right hand side value of (:) while slicing is not included
a = [1,2,3,4,5]
a[1:2]

[2]

In [18]:
# list comprehension
numbers = [1, 2, 3, 4]
squares = []

for n in numbers:
  squares.append(n**2)

numbers = [1, 2, 3, 4]
squares = [n**2 for n in numbers]
squares

[1, 4, 9, 16]

In [19]:
# using conditions in list comprehension
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

common_num = []

for a in list_a:
  for b in list_b:
    if a == b:
      common_num.append(a)

common_num = [a for a in list_a for b in list_b if a == b]
common_num

[2, 3, 4]