In [42]:
import pandas as pd
import numpy as np
import requests
import json

cols = ['ATCOCode', 'CommonName',
       'CommonNameLang', 'ShortCommonName', 'ShortCommonNameLang', 'Landmark',
       'LandmarkLang', 'Street', 'StreetLang', 'Crossing', 'CrossingLang',
       'Indicator', 'IndicatorLang', 'Bearing', 'NptgLocalityCode',
       'LocalityName', 'ParentLocalityName', 'GrandParentLocalityName', 'Town',
       'TownLang', 'Suburb', 'SuburbLang', 'LocalityCentre', 'GridType',
       'Easting', 'Northing', 'Longitude', 'Latitude', 'StopType',
       'BusStopType', 'TimingStatus', 'DefaultWaitTime',
       'CreationDateTime',
       'RevisionNumber', 'Modification', 'Status']

df = pd.read_csv("Data/govuk/Stops1.csv", low_memory=False, index_col='ATCOCode', usecols=cols)
df.head()

,CommonName,CommonNameLang,ShortCommonName,ShortCommonNameLang,Landmark,LandmarkLang,Street,StreetLang,Crossing,CrossingLang,...,Longitude,Latitude,StopType,BusStopType,TimingStatus,DefaultWaitTime,CreationDateTime,RevisionNumber,Modification,Status
ATCOCode,,,,,,,,,,,,,,,,,,,,,
0100053316,Broad Walk Shops,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.587618,51.455838,BCT,MKD,OTH,NaN,2017-07-25T15:33:15,24,del,del
0100053264,Alberton Road,en,NaN,NaN,NaN,NaN,Alberton Road,en,NaN,NaN,...,-2.540702,51.488991,BCT,CUS,OTH,NaN,2017-07-25T15:33:15,9,del,del
0100053308,Counterslip,en,NaN,NaN,NaN,NaN,Counterslip,en,NaN,NaN,...,-2.587674,51.455703,BCT,MKD,OTH,NaN,2017-07-25T15:33:15,12,del,del
0100053306,Risdale Road,en,NaN,NaN,NaN,NaN,Risdale Road,en,NaN,NaN,...,-2.587804,51.455747,BCT,CUS,OTH,NaN,2017-07-25T15:33:15,18,del,del
010000015,Kings Head Lane,en,NaN,NaN,NaN,NaN,Kings Head Lane,en,NaN,NaN,...,-2.587803,51.455720,BCT,MKD,OTH,NaN,2017-07-25T15:33:15,57,del,del

In [8]:
df[df['CommonName'].notnull()].head()

,NaptanCode,PlateCode,CleardownCode,CommonName,CommonNameLang,ShortCommonName,ShortCommonNameLang,Landmark,LandmarkLang,Street,...,TimingStatus,DefaultWaitTime,Notes,NotesLang,AdministrativeAreaCode,CreationDateTime,ModificationDateTime,RevisionNumber,Modification,Status
ATCOCode,,,,,,,,,,,,,,,,,,,,,
0100053316,bstjpdm,NaN,NaN,Broad Walk Shops,en,NaN,NaN,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2017-07-25T15:33:15,2017-07-17T14:41:57,24,del,del
0100053264,bstmjdp,NaN,NaN,Alberton Road,en,NaN,NaN,NaN,NaN,Alberton Road,...,OTH,NaN,NaN,NaN,9,2017-07-25T15:33:15,2017-07-17T14:26:49,9,del,del
0100053308,bstgtgj,NaN,NaN,Counterslip,en,NaN,NaN,NaN,NaN,Counterslip,...,OTH,NaN,NaN,NaN,9,2017-07-25T15:33:15,2017-07-17T14:46:28,12,del,del
0100053306,bstapjm,NaN,NaN,Risdale Road,en,NaN,NaN,NaN,NaN,Risdale Road,...,OTH,NaN,NaN,NaN,9,2017-07-25T15:33:15,2017-07-04T15:11:27,18,del,del
010000015,bstpgpa,NaN,NaN,Kings Head Lane,en,NaN,NaN,NaN,NaN,Kings Head Lane,...,OTH,NaN,NaN,NaN,9,2017-07-25T15:33:15,2017-07-17T14:38:04,57,del,del

In [10]:
df.columns

Index(['NaptanCode', 'PlateCode', 'CleardownCode', 'CommonName',
       'CommonNameLang', 'ShortCommonName', 'ShortCommonNameLang', 'Landmark',
       'LandmarkLang', 'Street', 'StreetLang', 'Crossing', 'CrossingLang',
       'Indicator', 'IndicatorLang', 'Bearing', 'NptgLocalityCode',
       'LocalityName', 'ParentLocalityName', 'GrandParentLocalityName', 'Town',
       'TownLang', 'Suburb', 'SuburbLang', 'LocalityCentre', 'GridType',
       'Easting', 'Northing', 'Longitude', 'Latitude', 'StopType',
       'BusStopType', 'TimingStatus', 'DefaultWaitTime', 'Notes', 'NotesLang',
       'AdministrativeAreaCode', 'CreationDateTime', 'ModificationDateTime',
       'RevisionNumber', 'Modification', 'Status'],
      dtype='object')

In [23]:
df[(df['CommonNameLang'] !='en') & (df['CommonNameLang'].notnull())].head()

Empty DataFrame
Columns: [CommonName, CommonNameLang, ShortCommonName, ShortCommonNameLang, Landmark, LandmarkLang, Street, StreetLang, Crossing, CrossingLang, Indicator, IndicatorLang, Bearing, NptgLocalityCode, LocalityName, ParentLocalityName, GrandParentLocalityName, Town, TownLang, Suburb, SuburbLang, LocalityCentre, GridType, Easting, Northing, Longitude, Latitude, StopType, BusStopType, TimingStatus, DefaultWaitTime, CreationDateTime, RevisionNumber, Modification, Status]
Index: []

[0 rows x 35 columns]

In [25]:
cols = ['ATCOCode', 'ShortCommonName', 'ShortCommonNameLang', 'Landmark',
       'LandmarkLang', 'Street', 'Crossing', 'Indicator', 'IndicatorLang', 
        'Bearing', 'NptgLocalityCode',
       'LocalityName', 'ParentLocalityName', 'GrandParentLocalityName', 'Town',
       'TownLang', 'Suburb', 'LocalityCentre', 'GridType',
       'Easting', 'Northing', 'Longitude', 'Latitude', 'StopType',
       'BusStopType', 'TimingStatus', 'DefaultWaitTime',
       'CreationDateTime',
       'RevisionNumber', 'Modification', 'Status']

df2 = pd.read_csv('Stops1.csv', low_memory=False, index_col='ATCOCode', usecols=cols)
df2.head()

,ShortCommonName,ShortCommonNameLang,Landmark,LandmarkLang,Street,Crossing,Indicator,IndicatorLang,Bearing,NptgLocalityCode,...,Longitude,Latitude,StopType,BusStopType,TimingStatus,DefaultWaitTime,CreationDateTime,RevisionNumber,Modification,Status
ATCOCode,,,,,,,,,,,,,,,,,,,,,
0100053316,NaN,NaN,NaN,NaN,NaN,NaN,Stop B,en,SW,N0076879,...,-2.587618,51.455838,BCT,MKD,OTH,NaN,2017-07-25T15:33:15,24,del,del
0100053264,NaN,NaN,NaN,NaN,Alberton Road,NaN,NE-bound,en,NE,N0076879,...,-2.540702,51.488991,BCT,CUS,OTH,NaN,2017-07-25T15:33:15,9,del,del
0100053308,NaN,NaN,NaN,NaN,Counterslip,NaN,SW-bound,en,SW,N0076879,...,-2.587674,51.455703,BCT,MKD,OTH,NaN,2017-07-25T15:33:15,12,del,del
0100053306,NaN,NaN,NaN,NaN,Risdale Road,NaN,SW-bound,en,SW,N0076879,...,-2.587804,51.455747,BCT,CUS,OTH,NaN,2017-07-25T15:33:15,18,del,del
010000015,NaN,NaN,NaN,NaN,Kings Head Lane,NaN,Stop D,en,SE,N0076879,...,-2.587803,51.455720,BCT,MKD,OTH,NaN,2017-07-25T15:33:15,57,del,del

In [26]:
df2.drop(df2[df2['Status'] == 'del'].index, inplace=True)

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 265403 entries, 0100BRP90168 to 4400MO0685
Data columns (total 30 columns):
ShortCommonName            53223 non-null object
ShortCommonNameLang        21689 non-null object
Landmark                   164325 non-null object
LandmarkLang               32913 non-null object
Street                     255351 non-null object
Crossing                   39218 non-null object
Indicator                  260511 non-null object
IndicatorLang              95999 non-null object
Bearing                    256044 non-null object
NptgLocalityCode           265403 non-null object
LocalityName               265403 non-null object
ParentLocalityName         109606 non-null object
GrandParentLocalityName    5431 non-null object
Town                       102668 non-null object
TownLang                   8028 non-null object
Suburb                     58466 non-null object
LocalityCentre             263724 non-null float64
GridType                   265179 non-null object
Easting                    265403 non-null int64
Northing                   265403 non-null int64
Longitude                  265403 non-null float64
Latitude                   265403 non-null float64
StopType                   265403 non-null object
BusStopType                258445 non-null object
TimingStatus               260225 non-null object
DefaultWaitTime            0 non-null float64
CreationDateTime           265403 non-null object
RevisionNumber             265403 non-null int64
Modification               248455 non-null object
Status                     265403 non-null object
dtypes: float64(4), int64(3), object(23)
memory usage: 62.8+ MB

In [31]:
df2['DefaultWaitTime'].count()

0

In [32]:
del df2['DefaultWaitTime']