In [1]:
import pandas as pd
import numpy as np

In [2]:
my_array = np.random.rand(3)

In [4]:
my_series = pd.Series(my_array)
my_series[0]

0.5098519291024236

In [6]:
my_series = pd.Series(my_array, index=["a", "b", "c"])
my_series["a"]

0.5098519291024236

In [9]:
my_2darray = np.random.rand(3,2)
my_df = pd.DataFrame(my_2darray, columns=["a", "b"], index=[100,200,300])

In [10]:
my_df

            a         b
100  0.151904  0.895150
200  0.557514  0.141774
300  0.990447  0.422060

In [12]:
my_df.index

Int64Index([100, 200, 300], dtype='int64')

In [14]:
my_df.columns[0]

'a'