In [1]:
import pandas as pd, numpy as np

In [2]:
df_calisthenics = pd.read_excel(io="C:\My Documents\Journal\generallog.xlsx"
                                , sheet_name='calisthenicsLog'
                                , header=0
                                , parse_dates=True
                               )

In [3]:
burpees_cols = [col for col in df_calisthenics.columns if (col.startswith('bp-') 
                                                               and not(col.startswith('total',3))
                                                          )
               ]

In [4]:
df_dates = df_calisthenics[['id', 'date']]
df_dates.loc[:,'idx'] = pd.Series(df_dates.index)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [5]:
df_burpees_raw = df_calisthenics[burpees_cols]

In [6]:
df_burpees_stacked = df_burpees_raw.stack().reset_index()

In [7]:
df_burpees = df_dates.merge(df_burpees_stacked, left_on='idx', right_on='level_0')

In [8]:
df_burpees.loc[:,'exercise'] = 'burpees'
df_burpees.rename(columns={"level_1": "set", 0: "reps"}, inplace=True)
df_burpees.loc[:,'set'] = df_burpees['set'].str.replace('bp-', '')

In [9]:
df_burpees = df_burpees[['date', 'exercise', 'set', 'reps']]

In [10]:
df_burpees.head()

        date exercise set  reps
0 2020-04-02  burpees   1     0
1 2020-04-02  burpees   2     0
2 2020-04-02  burpees   3     0
3 2020-04-02  burpees   4     0
4 2020-04-02  burpees   5     0

In [19]:
df_food = pd.read_excel("C:\\My Documents\\Journal\\foodLog.xlsx"
                        , sheet_name='foodRaw'
                        , header=0
                       ) 
food_list = df_food.to_dict('records')
df_food.head()

,foodId,brandName,foodName,servingType,units,calories,fat,saturatedFat,sodium,carbohydrates,fiber,sugar,protein
0,1,Generic,Tofu - fried,Piece,1,35.0,2.6,0.4,0.0,2.0,1.4,0.5,0.4
1,2,Generic,Mushroom - fried,Cup,1,150.0,7.7,0.7,0.0,274.0,16.0,1.2,1.4
2,3,Generic,Soy sauce,Tablespoon,1,10.0,0.0,0.0,0.0,894.0,1.0,0.0,0.0
3,4,Quaker,Oat so simple - 27g,Sachet,1,100.0,2.0,0.0,0.0,0.0,16.0,3.0,0.0
4,5,Tesco,Semi-skimmed milk,Cup,1,118.0,4.0,3.0,0.0,0.0,11.0,0.0,11.0