In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split, KFold
cv = KFold(n_splits=2)

In [11]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]], columns=['a', 'b', 'c'])

In [12]:
df

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [13]:
df.iloc[[1,2], :]

   a  b  c
1  4  5  6
2  7  8  9

In [26]:
for x, y in cv.split(df):
    df.iloc[x]

In [24]:
for list(y)

[array([0, 1]), array([2, 3])]