In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../Data/pandas-playbook-manipulating-data/05/demos/m4_cleaning/weather_m4.csv')
df1 = pd.read_csv('../Data/pandas-playbook-manipulating-data/05/demos/m4_cleaning/athletes.csv')

In [2]:
df.dtypes

YYYYMMDD             int64
TIME                 int64
TEMP                 int64
MIN_TEMP_GROUND    float64
PRESSURE             int64
HUMIDITY             int64
VIEW_RANGE         float64
CLOUD              float64
MIST               float64
RAIN               float64
SNOW               float64
THUNDER            float64
ICE                float64
WEATHER_CODE       float64
dtype: object

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 14 columns):
YYYYMMDD           8784 non-null int64
TIME               8784 non-null int64
TEMP               8784 non-null int64
MIN_TEMP_GROUND    1464 non-null float64
PRESSURE           8784 non-null int64
HUMIDITY           8784 non-null int64
VIEW_RANGE         8743 non-null float64
CLOUD              8743 non-null float64
MIST               8741 non-null float64
RAIN               8741 non-null float64
SNOW               8741 non-null float64
THUNDER            8741 non-null float64
ICE                8741 non-null float64
WEATHER_CODE       3862 non-null float64
dtypes: float64(9), int64(5)
memory usage: 960.8 KB

In [4]:
# return dataframe with True/False based on if value is present
df.isnull().head()

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE,WEATHER_CODE
0,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False,False

In [5]:
# returns True/False, if any values are NULL
df.isnull().any()

YYYYMMDD           False
TIME               False
TEMP               False
MIN_TEMP_GROUND     True
PRESSURE           False
HUMIDITY           False
VIEW_RANGE          True
CLOUD               True
MIST                True
RAIN                True
SNOW                True
THUNDER             True
ICE                 True
WEATHER_CODE        True
dtype: bool

In [6]:
# rows that are completely empty
df.isnull().all(axis=1).any()

False

In [7]:
# check if every sixth row has a value
sixth_row = range(5, len(df), 6)
df.loc[sixth_row, 'MIN_TEMP_GROUND'].isnull().any()

False

In [8]:
# check every row other than sixth row is null
df.drop(sixth_row).loc[:, 'MIN_TEMP_GROUND'].notnull().any()

False

In [9]:
df.drop(columns='WEATHER_CODE', axis=1, inplace=True)

In [10]:
df['MIN_TEMP_GROUND'].fillna(method='bfill', inplace=True)

In [12]:
# rows with missing values
df[df.isnull().any(axis=1)].head()

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5306,20160809,3,115,95.0,10207,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5307,20160809,4,107,95.0,10206,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5308,20160809,5,104,95.0,10210,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5309,20160809,6,115,95.0,10210,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5310,20160809,7,125,110.0,10211,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# fill some columns with mean values
df['VIEW_RANGE'].fillna(df['VIEW_RANGE'].mean(), inplace=True)
df['CLOUD'].fillna(df['CLOUD'].mean(), inplace=True)
df[df.isnull().any(axis=1)].head()

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5306,20160809,3,115,95.0,10207,90,61.916962,5.476267,NaN,NaN,NaN,NaN,NaN
5307,20160809,4,107,95.0,10206,93,61.916962,5.476267,NaN,NaN,NaN,NaN,NaN
5308,20160809,5,104,95.0,10210,80,61.916962,5.476267,NaN,NaN,NaN,NaN,NaN
5309,20160809,6,115,95.0,10210,80,61.916962,5.476267,NaN,NaN,NaN,NaN,NaN
5310,20160809,7,125,110.0,10211,70,61.916962,5.476267,NaN,NaN,NaN,NaN,NaN

In [15]:
# fill some missing values with mode
df.fillna(df.mode().iloc[0], inplace=True)

In [16]:
# convert datatype
df[['MIST', 'RAIN', 'SNOW', 'THUNDER', 'ICE']] = df[['MIST', 'RAIN', 'SNOW', 'THUNDER', 'ICE']].astype(int)